@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.2jmos03fny.bundle.scp.css';

/* /Components/Robot.razor.rz.scp.css */

.robot-label[b-lzeycsi9az] {
    display: block;
    width: 220px;
}
/* /Pages/Catalog.razor.rz.scp.css */

.card-img[b-r3mzni8ykb] {
    display: block;
}

.demo-panel-1[b-r3mzni8ykb]{
    margin-right: 1em;
}

.demo-panel-2[b-r3mzni8ykb] {
    margin-left: 1em;
}
